import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import 'helpers/layout'

import('../blocks/**/*')


#slider
	width 940px
	margin 0 auto
	overflow hidden

	.slides
		display flex
		flex-wrap nowrap

		.slide
			position relative

			&.active
				z-index: 10

			img
				display block
				max-width 100%
