extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Index';

block content
	#slider
		.slides
			.slide
				img(src="http://lorempixel.com/940/350/people/1")
			.slide
				img(src="http://lorempixel.com/940/400/people/2")
			.slide
				img(src="http://lorempixel.com/940/300/people/3")

