extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Index';

block content
	#slider
		.slide
			img(src="http://lorempixel.com/940/350/people/1")
		.slide
			img(src="http://lorempixel.com/940/350/people/2")
		.slide
			img(src="http://lorempixel.com/940/350/people/3")
