head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	//- http://realfavicongenerator.net/faq#why_ico_not_declared

	block head
	title= pageTitle || ''
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')

	link(href='/assets/styles/app.min.css?t=' + timestamp rel='stylesheet')
